DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_ORDERS_CHAT_ID=""
PAYME_MERCHANT_ID=""
PAYME_KEY=""
CLICK_MERCHANT_ID=""
CLICK_SECRET_KEY=""
PORT=3000
